// overrides here (do not !default use here)
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            #333;
$gray-dark:              #464445;
$gray:                   #666;
$gray-light:             #b4b6b3;
$gray-lighter:           #f6f6f6;

$white:                  #fff;
$grey-transparent:       rgba(51,51,51, 0.8); // #333 80% transparency

$brand-primary:         #00a0df; //
$brand-secondary:       #007aab;
$blue-extra:            #00587a;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white;
//** Global text color on `<body>`.
$text-color:            $gray-dark;
//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-secondary;
//** Link hover decoration.
$link-hover-decoration: none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Proxima Nova Rg", Helvetica, Arial, sans-serif;

$font-size-base:          18px;
$font-size-large:         ceil(($font-size-base * 1.33)); // 24px
$font-size-small:         ceil(($font-size-base * 0.83)); // 15px

$font-size-btn:           14px;
$font-size-btn-primary:   18px;

$font-size-h1:            floor(($font-size-base * 2.67)); // 48px
$font-size-h2:            floor(($font-size-base * 2)); // 36px
$font-size-h3:            ceil(($font-size-base * 1.66)); // 30px
$font-size-h4:            ceil(($font-size-base * 1.11)); // 20px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.77)); // 14px

$headings-color:          $gray-dark;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
//$grid-columns:              16;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
//$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
//$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
//$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
//$container-sm:                 $container-tablet !default;

// Medium screen / desktop
//$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
//$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1250px + $grid-gutter-width) ;
//** For `$screen-lg-min` and up.
//$container-lg:                 $container-large-desktop !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$border-radius-base:        0;

//== Navbar
//
//##

// Basics of a navbar

//=== Inverted navbar
// Reset inverted navbar basics
//$navbar-inverse-color:                      lighten($gray-light, 15%);
$navbar-inverse-bg:                         $gray-darker;
$navbar-inverse-border:                     none;

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light;
$navbar-inverse-link-hover-color:           $brand-primary;
//$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $brand-secondary;
//$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
//$navbar-inverse-link-disabled-color:        #444;
//$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
//$navbar-inverse-brand-color:                $navbar-inverse-link-color;
//$navbar-inverse-brand-hover-color:          #fff;
//$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $gray-darker;
//$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        $gray-darker;

//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    $navbar-inverse-bg;
//** Dropdown menu `border-color`.
$dropdown-border:                none;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       none;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            $gray-dark;

//** Dropdown link text color.
$dropdown-link-color:            $navbar-inverse-link-color;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      $navbar-inverse-link-hover-color;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         transparent;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $navbar-inverse-link-active-color;
//** Active dropdown menu item background color.
//$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
//$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
//$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
//$dropdown-caret-color:           #000 !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                600;

$btn-default-color:              $brand-primary;
$btn-default-bg:                 transparent;
$btn-default-border:             $brand-primary;

$btn-primary-color:              $white;
//$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $white;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         180px;
//$btn-border-radius-large:        $border-radius-large !default;
//$btn-border-radius-small:        $border-radius-small !default;

//== Custom Variables
$border-radius-circle:            360%;

//== Breadcrumbs
//
//##

// $breadcrumb-padding-vertical:   8px !default;
// $breadcrumb-padding-horizontal: 15px !default;
//** Breadcrumb background color
// $breadcrumb-bg:                 #f5f5f5 !default;
//** Breadcrumb text color
$breadcrumb-color:              $gray;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $gray-lighter;
//** Textual separator for between breadcrumb elements
// $breadcrumb-separator:          "/" !default;
