@font-face {
	font-family: 'Ionicons';
	src: url('fonts/custom/Ionicons.eot');
	src: url('fonts/custom/Ionicons.eot?#iefix') format('embedded-opentype'),
		url('fonts/custom/Ionicons.woff') format('woff'),
		url('fonts/custom/Ionicons.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/custom/ProximaNova-Regular.eot');
	src: url('fonts/custom/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/custom/ProximaNova-Regular.woff') format('woff'),
		url('fonts/custom/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/custom/ProximaNova-Bold.eot');
	src: url('fonts/custom/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/custom/ProximaNova-Bold.woff') format('woff'),
		url('fonts/custom/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/custom/ProximaNova-Semibold.eot');
	src: url('fonts/custom/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/custom/ProximaNova-Semibold.woff') format('woff'),
		url('fonts/custom/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
