.container-about-2, .container-about-3, .container-about-4, .container-about-5, .container-about-6 {
  padding: 50px 25px;
}
//Container 1
.container-about-1 {
  background: url(assets/images/isla-about-background.jpg) no-repeat top;
  background-size: cover;
}
//Container 4
.beginnings-circle {
  width: 220px;
  height: 220px;
  display: table;
  padding: 20px;
}
//Directors
.director-pic {
  width: 100%;
  height: 100%;
  max-width: 275px;
  max-height: 275px;
  object-fit: cover;
}
