// Font colors
.black {
  color: $gray-base; // #000
}
.gray-darker {
  color: $gray-darker; // #333
}
.gray-dark {
  color: $gray-dark; // #464445
}
.gray {
  color: $gray; // #666
}
.gray-light {
  color: $gray-light; // #b4b6b3
}
.gray-lighter {
  color: $gray-lighter; // #f6f6f6
}
.grey-transparent {
  color: $grey-transparent; // #333 80% transparency
}
.white {
  color: $white;
}
.blue {
  color: $brand-primary; // #00a0df
}
.blue-darker {
  color: $brand-secondary; // #007aab
}
.blue-extra {
  color: $blue-extra; // #00587a
}

// Background colors
.black-bg {
  background: $gray-base; // #000
}
.gray-darker-bg {
  background: $gray-darker; // #333
}
.gray-dark-bg {
  background: $gray-dark; // #464445
}
.gray-bg {
  background: $gray; // #666
}
.gray-light-bg {
  background: $gray-light; // #b4b6b3
}
.gray-lighter-bg {
  background: $gray-lighter; // #f6f6f6
}
.grey-transparent-bg {
  background: $grey-transparent; // #333 80% transparency
}
.white-bg {
  background: $white;
}
.blue-bg {
  background: $brand-primary; // #00a0df
}
.blue-darker-bg {
  background: $brand-secondary; // #007aab
}
.blue-extra-bg {
  background: $blue-extra; // #00587a
}
