//Gral
.col-margin {
  margin: 50px 0;
}
.col-margin-up {
  margin-top: 50px;
}
.col-margin-down {
  margin-bottom: 50px;
}
.circle {
  border-radius: $border-radius-circle;
  // border: 2px solid $white;
  > img {
    border-radius: $border-radius-circle;
    background: $white;
  }
}
.circle-badge {
  border-radius: $border-radius-circle;
  background: $brand-primary;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -50px;
  left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  > p {
    color: $white;
    @extend .text-uppercase;
    @extend .text-center;
    margin: 0;
  }
}
.container-center {
  vertical-align: middle;
}
.container-center-full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.divider, .center-divider {
  height: 2px;
  width: 100px;
  display :block;
  margin: 10px 0;
  overflow: hidden;
  background-color: $brand-primary;
}
.center-divider {
  margin: 10px auto;
}
.no-border {
  border: none;
}
.no-margin {
  margin: 0;
  > p, h3 {
    margin: 0;
  }
}
.no-padding {
  padding: 0;
}
.padding-twenty {
  padding: 20px;
}
.eq-height {
  display: table;
}
.eq-height [class*="col-"]{
  float: none;
  display: table-cell;
  vertical-align: middle;
}
caption {
  font-size: $font-size-small;
}
// Row
.row {
  padding-right: 0px;
  margin-right: 0px;
}
//Navs
.navbar-main {
  margin-bottom: 0;
  height: 128px;
  display: flex;
  align-items: center;
  transition: height 0.3s;
  .container-fluid {
    width: 100%;
    .navbar-header {
      .navbar-brand {
        z-index: 01;
        position: relative;
        img {
          position: relative;
          bottom: 35px;
          transition: opacity 0.2s linear;
          opacity: 1;
          visibility: visible;
        }
      }
      .site-title {
        font-weight: 700;
        color: white;
        padding-left: 0;
      }
    }
    .navbar-main-menu {
      > ul > li > a {
        @extend .text-uppercase;
      }
      > ul:nth-child(2) > li > a {
        bottom: 5px;
      }
    }
  }
}
.navbar-main-smaller {
  height: 50px;
  .container-fluid {
    height: 100%;
    .navbar-header {
      width: 66px;
      .site-title {
        display: block !important;
      }
      .logo-navbar-brand {
        width: 100%;
        img {
          transition: visibility 0s 0.2s, opacity 0.3s linear;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}

.navbar-secondary {
  background: $grey-transparent;
  top: 128px;
  z-index: 1000;
  transition: all 0.3s ease 0s;
  .container-fluid {
    > ul > li > a {
      color: $white;
    }
    > ul > li > a:hover {
      color: $brand-secondary;
    }
  }
}
.navbar-secondary-top {
  top: 50px;
}
//jumbotron
.jumbo-bkg {
  background-size: cover;
}
//Breadcrumb
.breadcrumb {
  span {
    font-size: 15px;
    a {
      color: $gray-dark;
    }
    a:hover {
      color: $brand-primary;
    }
  }
}
//Btns
.btn {
  @extend .text-uppercase;
}
.btn-primary {
  font-size: $font-size-btn-primary;
  padding: 6px 70px;
}
.btn-transparent {
  font-size: $font-size-btn-primary;
  padding: 6px 70px;
  border-color: $white;
  background: transparent;
  color: $white;
}
//Footer
footer {
  background: $gray-darker;
  padding: 0 0 30px;
  h6 {
    padding-left: 15px;
  }
}
