//Container pad
.container-home-1, .container-home-7 {
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.container-home-2, .container-home-3, .container-home-4, .container-home-5, .container-home-6 {
  padding: 50px 25px;
}

//Container 1
.container-home-1 {
  background: url(assets/images/isla-background.jpg) no-repeat top;
  background-size: cover;
}
.text-headings {
  position: absolute;
  top: 30%;
  right: 20%;
  h1, h2 {
    display: inline;
    color: $white;
  }
  h3 {
    color: $white;
  }
}

//Container 2

//Container 3
.col-members {
  padding: 0 50px;
}
.img-members {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

//Container 4
.img-projects {
  width: 100%;
  height: auto;
  max-width: 380px;
  height: 250px;
  background: url(assets/images/Untitled-3.png) no-repeat center;
  background-size: cover;
}

//Container 5
.col-projects {
  height: 250px;
}
.img-news {
  width: 100%;
  height: auto;
  max-width: 225px;
  height: 150px;
  background: url(assets/images/Untitled-3.png) no-repeat center;
  background-size: cover;
}

//Container 6

//container 7
.container-home-7 {
  background: url(assets/images/isla-background-bottom.jpg) no-repeat top;
  background-size: cover;
}

//Container 8
.sponsor {
  margin: 15px;
}
