@media (max-width : 991px) {
  //Navs
  .navbar-main {
    .container-fluid {
      .navbar-header {
        // .navbar-brand {
        //   padding-left: 0;
        //   strong {
        //     opacity: 1;
        //     visibility: visible;
        //   }
        // }
        .logo-navbar-brand {
          display: none;
        }
      }
    }
  }
  //Homepage
  //container-home-3

}
@media (max-width: 767px) {
  //Nav Mbile
  .navbar-mob {
    z-index: 1;
    background-color: $gray-darker;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: none;
    position: fixed;
    overflow-x: scroll;
    .navbar-header {
      .navbar-brand {
        height: 100%;
      }
    }
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .navbar-mob-toggle {
    float: left;
    position: fixed;
    z-index: 10;
    span {
      background: $white;
    }
  }
  .navbar-mob-toggle-after {
    left: 50%;
    padding-left: 15px;
  }
  .navbar-mob-toggle-before {
    left: 50px;
  }
}
