//Container 1
.container-members-1 {
  background: url(assets/images/isla-membership.jpg) no-repeat top;
  background-size: cover;
}

//Container 2
.container-members-2 {
  padding: 50px 25px;
}
//Tables
.pricing-table {
  margin: 30px 0;
  border: 1px solid $gray-light;
  background-color: $white;
  ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
    .pricing-table-header {
      color: $white;
      padding: 5px 0;
      border-bottom: none;
    }
    .pricing-table-price {
      padding: 40px 0;
      font-size: 80px;
      color: $white;
      sub, sup {
        font-size: 18px;
      }
    }
    .pricing-table-footer {
      a {
        color: $white;
      }
    }
  }
  ul li {
    padding: 20px 0;
  }
}
//Brands
.membership-brands {
  margin: 10px 0;
}
