.container-project-1 {
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-project-2, .container-project-4, .container-project-5, .container-project-6, .past-project,  {
  padding: 50px 25px;
}
.past-project {
  background: $gray-lighter;
}
.past-project:nth-of-type(odd) {
  background: $white;
}
.single-past-project img {
  height: 170px;
  object-fit: cover;
}
.img-square-project {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
//Volunteers
.volunteers {
  div {
    display: inline-block;
  }
  .volunteer {
    width: 120px;
    height: 120px;
    padding: 10px;
    a {
      width: 100%;
      height: 100%;
      position: relative;
      @extend .circle;
    }
    a:first-child {
      display: block;
    }
    a:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 100px;
      background: rgba(0,0,0,0.6);
      transition: background-color .15s linear,color .15s linear;
      opacity: 0;
    }
    a:last-child:hover {     
      opacity: 1;
    }
  }
  img {
    @extend .circle;
    width: 100%;
    height: 100%;
  }
}

