.container-projects-2, .container-projects-3, .container-projects-4, .container-projects-5, .container-projects-6 {
  padding: 70px 25px;
}
.container-projects-1 {
  width: 100%;
  height: auto;
  padding: 180px 0;
  background: url(assets/images/isla-about-background.jpg) no-repeat top;
  background-size: cover;
  display: table;
}
.featured-project:nth-of-type(odd) {
  background: $gray-lighter;
  .col-featured-left {
    @extend .col-md-push-6;
  }
  .col-featured-right {
    @extend .col-md-pull-6;
  }
}
.img-projects-page {
  width: 100%;
  height: auto;
  background: center no-repeat;
  background-size: cover;
  height: 400px;
}
.projects-status-title {
  margin-bottom: 0;
}
.projects-status-desc {
  font-weight: bold;
}
.follow-along-projects {
  visibility: hidden;
  p {
    display: inline-block;
  }
  a > i {
    margin: 0 5px;
  }
}
