//Jumbotron
.jumbo-store {
  background: url(assets/images/isla-small-header-background.png) no-repeat top;
  background-size: cover;
}
.jumbotron-small-inner {
  padding-top: 100px;
}
//Store Sidebar
#main_sidebar {
  li {
    list-style: none;
  }
}
.widget-title {
  color: $gray-light;
  @extend .text-uppercase;
}
.berocket_aapf_widget  {
  padding-left: 0;
  li {
    span {
      font-size: 12px;
      color: $gray-darker;
      font-weight: 600;
    }
  }
}
//Store Content
.shop-container {
  margin-top: 110px;
}
.col-store-content {
  .page-title {
    display: none;
  }
}
//Container 1
.container-store-1 {
  padding: 300px 0 150px;
  background: url(assets/images/isla-store-background.jpg) no-repeat top;
  background-size: cover;
}
//Container 2
.container-store-2 {
  padding: 50px 25px;
}
.col-store-sort > h6, .btn-store-sort {
  display: inline;
}
.btn-store-sort {
  float: right;
  margin-left: 15px;
}
